@charset "UTF-8";

:root {
    --Color1: #ffc891;
    --Color2: #e6c96c;
    --Color3: #e3ac46;
    --Color4: #e08a34;
    --Color5: #e35e1e;
    --Color6: #201e1b;
}

main {
    display: flex;
    margin-top: 30px;
    height: auto;
    justify-content: center;
}